<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<context:component-scan base-package="com.github.chronic.service.impl.*"></context:component-scan>
 
 <!-- 使用dubbo发布服务 -->
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="chronic-manager"/>
    <dubbo:registry protocol="zookeeper" address="linux06:2181,linux07:2181,linux08:2181"/>
    
    <!--用dubbo协议在20880端口暴露服务-->
    <dubbo:protocol name="dubbo" port="20880"/>
    
    <dubbo:service interface="com.github.chronic.service.user.UserService" ref="userServiceImpl" timeout="6000"/> 
    
     <dubbo:service interface="com.github.chronic.service.menu.MenuService" ref="menuServiceImpl" timeout="6000"/> 
   
     <dubbo:service interface="com.github.chronic.service.permission.UserManagerService" ref="userManagerServiceImpl" timeout="6000"/> 
    
 	<dubbo:service interface="com.github.chronic.service.permission.LocationService" ref="locationServiceImpl" timeout="6000"/> 
 	
 	<dubbo:service interface="com.github.chronic.service.permission.RoleManagerService" ref="roleManagerServiceImpl" timeout="6000"/> 
 	
 	<dubbo:service interface="com.github.chronic.service.permission.AreaService" ref="areaServiceImpl" timeout="6000"/> 
 	
 	
    
</beans>
